.auth {
	background-color: $color-main;
	height: 100%;

	.auth-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.container {
		display: block;
		width: 100%;
	}

	a {
		display: block;
		margin: $margin auto;
		text-align: center;
		color: $text-accent-color;
	}

	h1 {
		display: block;
		margin: $margin auto;
		text-align: center;
		color: $text-accent-color;

		i {
			color: $color-accent-light;
		}
	}

	h2 {
		display: block;
		margin: $margin auto;
		text-align: center;
	}

	input {
		display: block;
		width: 100%;
		margin: 5px auto;
	}

	button {
		display: block;
		width: 100%;
		margin: 0 auto
	}
}
